#newForm{
  display: none;
  text-align: center;
}

#buttons{
  text-align: center;
}

table.center {
    display:none;
    text-align:center;
}
body{
  text-align: center;
}

#filter_form{
    text-align: center;
    display: none;
}

#filter_check{
  text-align: center;
}

#min_price, #max_price{
  display: none;
}

#min_storage, #max_storage{
  display: none;
}
